@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fafafa;
  color: #18181b;
}

::selection {
  background: #18181b;
  color: white;
}

/* Grid background */
main {
  background-image:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);

  background-size: 40px 40px;
}

/* Navbar links */
.nav-link {
  font-size: 14px;
  color: #71717a;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #18181b;
}

.nav-link.active {
  color: #18181b;
  border-bottom: 1px solid #18181b;
  padding-bottom: 8px;
}